*::-webkit-scrollbar {
  background-color: transparent;
  width: 0.5rem;
  height: 0.5rem;
  margin-inline-end: 0.5rem;
}

*::-webkit-scrollbar-track {
  background-color: transparent;
  margin-inline-end: 0.5rem;
}

*::-webkit-scrollbar-thumb {
  width: 0.75rem;
  background-color: hsla(216, 3%, 64%, 0.2);
  max-height: 10rem;
}

*::-webkit-scrollbar-button {
  display: none;
}

*:hover::-webkit-scrollbar-thumb {
  background-color: hsla(216, 3%, 64%, 0.6);
}

*::-webkit-input-placeholder {
  color: var(--webpack-starter-text-pale);
}

*::-moz-placeholder {
  color: var(--webpack-starter-text-pale);
}

*::placeholder {
  color: var(--webpack-starter-text-pale);
}

*:focus::-webkit-input-placeholder {
  color: transparent;
}

*:focus::-moz-placeholder {
  color: transparent;
}

*:focus::placeholder {
  color: transparent;
}

html {
  height: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  scroll-behavior: smooth;
  scrollbar-gutter: stable;
  font-size: clamp(1rem, 0.3571rem + 0.7143vw, 1.5rem);
}

body {
  line-height: 1.4;
  font-feature-settings: "liga" 0;
  touch-action: manipulation;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  min-height: 100dvh;
  overflow-x: hidden;
  font-style: normal;
  color: #151515;
  font-size: #{calc(16 / 16)}rem;
  font-family: var(--webpack-starter-font-text);
  font-optical-sizing: auto;
  font-weight: 300;
  font-variation-settings: "slnt" 0, "CRSV" 0, "SHRP" 0;

  &::-webkit-scrollbar-thumb {
    background-color: hsla(216, 3%, 64%, 0.6);
  }

  &:hover::-webkit-scrollbar-thumb {
    background-color: hsla(216, 3%, 64%, 0.2);
  }
}

[hidden],
template {
  display: none !important;
}

p {
  margin-block-start: 1em;
  margin-block-end: 1em;

  &:first-child {
    margin-block-start: 0;
  }

  &:last-child {
    margin-block-end: 0;
  }
}

a:not(.btn) {
  color: var(--webpack-starter-link);
  cursor: pointer;
  text-decoration: none;
  outline: 0;
  transition: color 0.2s;
}

abbr[title],
acronym[title] {
  text-decoration: none;
  border-bottom: 1px dotted;
}

sup {
  vertical-align: super;
}

b,
strong {
  font-weight: 600;
}

svg {
  display: block;
  height: auto;
}

samp,
code,
pre {
  font-weight: 400;
  font-family: var(--webpack-starter-font-code);
  font-size: 0.8125rem;
  outline: none;
  tab-size: 3;
  unicode-bidi: bidi-override;
  word-break: break-all;
  line-height: 1.4;
  border: 0;
  color: inherit;
  direction: ltr;
  text-align: left;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}

code {
  width: fit-content;
  border-radius: var(--webpack-starter-border-radius);
  padding: 0.25rem 0.5rem;
  line-height: 1.45;
  background: var(--webpack-starter-bg-universal, hsla(244, 52%, 14%, 0.02));
}

pre {
  color: hsl(230, 8%, 24%);
  box-shadow: 0 -1px 0 0 rgb(0 0 0 / 5%) inset;
  border-radius: var(--webpack-starter-border-radius);
  margin: 0.5em 0;
  padding: 1.5em;
  padding-inline-start: 4.5em;
  background: var(--webpack-starter-bg-universal, hsla(244, 52%, 14%, 0.02));
  white-space: pre-wrap;
  line-height: 1.4;

  &:first-child {
    margin-top: 0;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  --webpack-starter-multiplier: 1.1;
  font-size: calc(var(--webpack-starter-font-ratio) * 1rem);
  line-height: 1.2em;
  font-weight: 800;
  letter-spacing: -0.04em;
  margin: 0;
}
h1 {
  --webpack-starter-font-ratio: calc(var(--webpack-starter-multiplier) * var(--webpack-starter-multiplier) * var(--webpack-starter-multiplier) * var(--webpack-starter-multiplier) * var(--webpack-starter-multiplier) * var(--webpack-starter-multiplier));
}
h2 {
  --webpack-starter-font-ratio: calc(var(--webpack-starter-multiplier) * var(--webpack-starter-multiplier) * var(--webpack-starter-multiplier) * var(--webpack-starter-multiplier) * var(--webpack-starter-multiplier));
}
h3 {
  --webpack-starter-font-ratio: calc(var(--webpack-starter-multiplier) * var(--webpack-starter-multiplier) * var(--webpack-starter-multiplier) * var(--webpack-starter-multiplier));
}
h4 {
  --webpack-starter-font-ratio: calc(var(--webpack-starter-multiplier) * var(--webpack-starter-multiplier) * var(--webpack-starter-multiplier));
}
h5 {
  --webpack-starter-font-ratio: calc(var(--webpack-starter-multiplier) * var(--webpack-starter-multiplier));
}
h6 {
  --webpack-starter-font-ratio: var(--webpack-starter-multiplier);
}

.field,
input,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
  flex: 1;
  width: 100%;
  position: relative;
  font-size: .875rem;
  outline: 0;
  border: 1px solid var(--webpack-starter-border-color);
  border-radius: var(--webpack-starter-border-radius);
  background-color: var(--webpack-starter-bg);
  display: flex;
  align-items: center;
  transition: color, box-shadow 0.2s ease;
  overflow: auto;
  height: 2rem;
  min-height: 2rem;
  padding: 0.25rem 0.875rem;
  white-space: nowrap;

  &:focus {
    color: inherit;
    outline: 0;
    background-color: #fff;
    border-color: var(--webpack-starter-link);
    box-shadow: 0 0 0 1px var(--webpack-starter-link);
  }

  &[readonly],
  &[disabled] {
    background-color: #f7f7f7;
    border-color: #f7f7f7 !important;
    color: var(--webpack-starter-text-muted) !important;
    cursor: not-allowed;
    pointer-events: none;
    resize: none;
    transition: none;
  }

  &.load {
    background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14Z' stroke='%23B7B7B7' stroke-opacity='.5' stroke-width='2'/%3E%3Cpath d='M15 8a7 7 0 0 0-7-7' stroke='%23888' stroke-width='2'%3E%3CanimateTransform attributeName='transform' type='rotate' from='0 8 8' to='360 8 8' dur='0.5s' repeatCount='indefinite'/%3E%3C/path%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-size: 0.85rem;
    background-position: calc(100% - 0.875rem) center;
  }

  &.short {
    padding: 0.275rem;
    width: 2.5rem;
    text-align: center;
  }

  &.reverse {
    background-color: var(--webpack-starter-text-white);
  }
}

.field {
  padding: 0 0.75rem;
  overflow: visible;
  gap: 0.5em;
  height: auto;
  cursor: text;

  &:has(code),
  &:has(samp) {
    padding-left: 0.3rem;
  }

  &:not(:last-child) {
    margin-bottom: 0.125rem;
  }

  input,
  select,
  textarea {
    border-radius: 0;
    border-color: transparent;
    box-shadow: none;
    padding-left: 0;
    padding-right: 0;
    height: auto;
    min-height: calc(2rem - 2px);
    cursor: initial;
    resize: none;
    color: inherit;

    &.load {
      background-position: calc(100% - 0.25rem) center;
    }
  }

  input {

    &[type="number"] {
      -moz-appearance: textfield;
      width: 2.2em;
      text-align: end;
      border: 0;
    }

    &[type="number"]::-webkit-inner-spin-button,
    &[type="number"]::-webkit-outer-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
  }

  textarea {
    align-items: baseline;
  }

  &:not(:has([readonly])):focus-within {
    color: inherit;
    outline: 0;
    background-color: #fff;
    border-color: var(--webpack-starter-link);
    box-shadow: 0 0 0 1px var(--webpack-starter-link);
  }

  &:has([readonly]) {
    cursor: default;
  }

  &--outline {
    border: 1px solid var(--webpack-starter-border-color);
    background-color: var(--webpack-starter-text-white);
  }
}

input {

  &:-webkit-autofill,
  &:-webkit-autofill:hover,
  &:-webkit-autofill:focus,
  &:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out;
  }

  &:not([type="checkbox"]),
  &:not([type="radio"]) {
    -webkit-text-fill-color: inherit !important;
    -webkit-background-clip: text;
    -webkit-box-shadow: 0 0 0 0 transparent inset !important;
    filter: none;
  }

  &[type="search"] {
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 15 15'%3e%3cpath stroke='%23ccced3' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M6 11A5 5 0 106 1a5 5 0 000 10zM14 14l-4-4'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-size: 0.75rem;
    background-position: 100% center;
    -webkit-background-clip: inherit;

    &:focus {
      background-image: none;
    }
  }

  &[type="file"] {
    padding: 1rem;
    background-color: rgba(0,0,0,0.03);
  }

  &[type="password"] {

    &::-ms-clear {
      width: 0;
      height: 0;
      display: none;
    }

    &::-ms-reveal {
      width: 0;
      height: 0;
      display: none;
    }
  }

  &[type="date"] {

    &::-webkit-inner-spin-button,
    &::-webkit-calendar-picker-indicator {
      display: none;
      -webkit-appearance: none;
    }
  }

  &[type="checkbox"],
  &[type="radio"] {
    position: relative;
    border-radius: calc(var(--webpack-starter-border-radius) / 1.5);
    background-color: var(--webpack-starter-text-white);
    clear: none;
    cursor: pointer;
    vertical-align: text-top;
    height: 18px;
    width: 18px;
    min-width: 18px;
    max-width: 18px;
    min-height: inherit;
    padding: 0;
    display: inline-block;
    -webkit-background-clip: unset;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    & + * {
      margin-inline-start: 0.65rem;
    }

    &:checked {
      background-color: var(--webpack-starter-primary);
      border-color: var(--webpack-starter-primary);
    }

    &:not(:checked):focus {
      border-color: var(--webpack-starter-border-color);
      box-shadow: none;
    }
  }

  &[type="checkbox"] {

    &:before {
      content: '';
      opacity: 0;
      position: absolute;
      left: 6px;
      top: 2px;
      width: 5px;
      height: 10px;
      border: solid var(--webpack-starter-bg-white);
      border-width: 0 2px 2px 0;
      transform: rotate(45deg) scale(0);
      transition: all 0.26s cubic-bezier(.25,.8,.25,1);
    }

    &:checked:before {
      transform: rotate(45deg) scale(1);
      opacity: 1;
    }
  }

  &[type="radio"] {
    border-radius: 100%;
    transition: all .1s linear;

    &:checked {
      background-color: var(--webpack-starter-text-white);
      border: 4px solid var(--webpack-starter-primary);
    }
  }
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;
  width: auto;

  &:not([multiple]) {
    background: var(--webpack-starter-bg) url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%2371777F' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.75' d='M2 5l6 6 6-6'/%3e%3c/svg%3e") no-repeat right 12px top 55%;
    background-size: 12px;
  }

  &[multiple] {
    max-height: 2rem;
  }

  &:focus {
    background-color: #fff;
  }
}

textarea {
  resize: vertical;
  white-space: pre-wrap;
  min-height: 2rem;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}

img {
  border: 0;
  height: auto;
  position: relative;
  display: block;
  text-align: center;

  &:before {
    content: '';
    display: block;
    height: 100%;
    position: relative;
    width: 100%;
    z-index: 1;
  }

  &:after {
    content: "" attr(alt) "";
    color: #646464;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.75rem;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 2;
  }
}

.wrapper {
  margin: 0 auto;
  padding-inline: max(2rem, calc(50% - 40rem));
  width: 100%;

  @media (max-width: 640px) {
    padding-inline: 1.5rem;
  }
}