[data-scroll-top] {
  align-items: center;
  backdrop-filter: blur(1px);
  border-radius: 100%;
  color: inherit;
  cursor: pointer;
  display: flex;
  height: 3rem;
  justify-content: center;
  min-width: 3rem;
  position: fixed;
  width: 3rem;
  bottom: 2rem;
  right: 2rem;

  &:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 100%;
    background-color: var(--grafema-bg-universal);
    z-index: 1;
    transition: all 0.4s cubic-bezier(0.77, 0, 0.2, 0.85);
    transform: scale(0.01);
  }

  &:hover:after {
    transform: scale(1);
  }
}